@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
	--light-color: #eee;
	--dark-color: #111;
	--other-color: #F49D19;

	--font1: 'Poppins';
    --font2: 'Rubik';
    --font3: 'Ubuntu';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    /* border: 1px solid red; */
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font1);
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--light-color);
    background: var(--dark-color);
    padding-top: 12rem;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2, h3{
    font-family: var(--font3);
    font-size: 3.5rem;
}

a{
    font-size: 1.8rem;
    color: var(--light-color);
}

span{
    color: var(--other-color);
}

header, section, footer{
    width: 100%;
}


/* HEADER */
.header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid var(--light-color);
    height: 13rem;
    padding: 0 2rem;
}
.header .logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1.5px solid transparent;
    box-shadow: 0 0 5px var(--other-color);
}
.header a{
    font-size: 2rem;
    font-weight: bold;
}
.header i{
    font-size: 2.5rem;
    font-weight: normal;
    border-radius: 50%;
    color: var(--dark-color);
    background: var(--other-color);
    margin-inline: .5rem;
    padding: 1rem;
}


/* HERO SECTION */
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    padding: 4rem;
}

.hero-section h1{
    font-size: 5rem;
}

.hero-section p{
    margin: 2.5rem 0 5.5rem;
}

.hero-section a{
    font-family: var(--font2);
    font-weight: 500;
    border-radius: 25px;
    box-shadow: 0 0 2.5px var(--light-color);
    background: #000;
    padding: 1rem 2.5rem;
    transition: .5s ease-in-out;
}
.hero-section a:hover{
    background: var(--dark-color);
    box-shadow: 0 0 5px var(--light-color);
}

.hero-section .contact-btn{
    color: var(--dark-color);
    background: var(--other-color);
    margin-right: .5rem;
}
.hero-section .contact-btn:hover{
    color: var(--other-color);
    box-shadow: 0 0 5px var(--other-color);
}

.hero-section img{
    min-width: 35rem;
    min-height: 35rem;
}

/* FEATURES SECTION */
.features-section{
    text-align: center;
    padding: 4rem 4rem;
}

.features-section .imgs{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}
.features-section .imgs .div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.features-section .description{
    text-align: left;
    margin-top: 2rem;
}
.features-section .description h3{
    margin-bottom: 1.5rem;
}

.features-section .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    text-align: left;
    margin-top: 5rem;
}
.features-section .icons .div{
    padding: 1rem 1.5rem;
}

.features-section .icons p{
    font-size: 1.7rem;
    font-weight: 600;
    margin: .5rem 0 0;
}

.features-section .list{
    text-align: left;
    margin-top: 5rem;
    padding: 0 1.5rem;
}
.features-section .list ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

/* lOCATION */
.location{
    padding: 2rem 0;
}
.location iframe{
    width: 100%;
}

/* CONTACT FORM */
.contact-form{
    background: linear-gradient(to bottom right, var(--dark-color), #222);
    text-align: center;
    padding: 3.5rem 5rem;
}
.contact-form .div{
    max-width: 600px;
    background: var(--dark-color);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--other-color);
    margin: 1.5rem auto;
    padding: 5rem 3rem 3rem;
}

.contact-form input, .contact-form textarea{
    width: 400px;
    height: 40px;
    font-family: var(--font1);
    color: var(--light-color);
    background: transparent;
    border: 1.8px solid var(--dark-color);
    border-radius: 2.5px;
    box-shadow: 0 0 5px var(--other-color);
    margin-bottom: 2.5rem;
    padding: 1rem;
    resize: none;
    outline: none;
    transition: .5s ease-in-out;
}
.contact-form textarea{
    height: 15rem;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: var(--other-color);
}
.contact-form button{
    max-width: 100%;
    width: 400px;
    font-family: var(--font1);
    font-size: 1.7rem;
    font-weight: 500;
    background: #111;
    background: var(--other-color);
    border: 2.5px solid transparent;
    border-radius: 5px;
    padding: 1.5rem;
    cursor: pointer;
    transition: .3s ease-out;
}
.contact-form button:hover{
    color: var(--other-color);
    background: transparent;
    border-color: var(--other-color);
    box-shadow: 0 0 10px var(--other-color);
}

.nav-menu .btn{
    color: var(--other-color);
    background: transparent;
    border-color: var(--other-color);
}

/* FOOTER */
.footer{
    background: #000;
    text-align: center;
    padding: 1rem;
}
.footer .newsletter h3{
    font-size: 2.5rem;
}
.footer .newsletter input{
    width: 30rem;
    color: var(--light-color);
    background: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px var(--other-color);
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    transition: .3s ease-in-out;
}
.footer .newsletter input:hover{
    border: 1px solid var(--other-color);
    box-shadow: 0 0 5px var(--other-color);
}
.footer .newsletter input:focus{
    border: 1px solid var(--other-color);
    box-shadow: 0 0 5px var(--other-color);
}
.footer .newsletter button{
    background: var(--other-color);
    font-family: var(--font1);
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--other-color);
    padding: .5rem 1rem;
    cursor: pointer;
}

.footer .copyright p{
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.footer span{
    color: skyblue;
}